<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find romea_common_description)/urdf/check.xacro"/>

  <xacro:check_bool value="'$(arg generate_gazebo_tag)'" label="generate_gazebo_tag" />

  <xacro:property name="generate_gazebo_tag" value="${'$(arg generate_gazebo_tag)' == 'true'}" />

</robot>