<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_gazebo_plugin"
    params="plugin_filename plugin_name ros_namespace controller_manager_config_yaml_file hold_joints:=false">

    <gazebo>
      <plugin filename="${plugin_filename}" name="${plugin_name}">
        <robot_param>robot_description</robot_param>
        <robot_param_node>ros2_control_description</robot_param_node>
        <parameters>${controller_manager_config_yaml_file}</parameters>

        <xacro:if value="${hold_joints}">
          <hold_joints>true</hold_joints>
        </xacro:if>
        <position_proportional_gain>0.01</position_proportional_gain>

        <ros>
          <namespace>${ros_namespace}</namespace>
        </ros>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>